/* Body */
body {
    font-family: 'Comfortaa', cursive;
    color: #dadce6;
    background-color: #3F4254;
}

/* navbar */
.custom-nav {
    background-color: #3F4254;
    padding-top: 20px;
    padding-bottom: 5px;
}
.custom-nav .container {
    padding-bottom: 25px;
    border-bottom: 2px dotted #4a4e63;
}
.custom-nav .navbar-brand img {
    margin-top:-5px;
    width: 30px;
    height: 30px;
}
.custom-nav .navbar-brand span {
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 10px;
    color: #3d97d3;
}
.custom-nav .navbar-nav .nav-link{
    margin-top: 7px;
    margin-right: 7px;
    padding-left: 15px;
    padding-right: 15px;
    color: #f2f3f7;
}
.custom-nav .navbar-nav .btn-dark {
    border: none;
    box-shadow: 5px 7px 5px rgb(20, 20, 20);
    border-radius: 7px;
}
.custom-nav .navbar-nav a:hover{
    margin-top: 10px;
    margin-bottom: -5px;
    transition: 0.8s;
    box-shadow: none;
}

/* home */
#home {
    /* margin-top: -30px; */
    padding-top: 30px;
    padding-bottom: 35px;
}
#home  {
    padding-bottom: 30px;
    background-color: #3F4254;
}
#home  .container .card-body{
    background-color: #4a4e63;
    border-radius: 10px;
    text-align: center;
    padding: 50px 30px;
    box-shadow: 5px 7px 5px 5px rgb(20, 20, 20);
}
#home  .container .card-body img{
    margin-top: 20px;
    width: 250px;
    height: 250px;
}
#home  .container .card-body .social-media {
    margin-bottom: 50px;
}
#home  .container .card-body .diplay-name{
    margin-top: 30px;
    font-weight: 700;
    color: #3d97d3;
}

/* about */
#about {
    /* margin-top: -30px; */
    padding-top: 30px;
    padding-bottom: 35px; 
}
#about .container .card {
    padding: 50px 30px;
    border-radius: 10px;
    background-color: #4a4e63;
    box-shadow: 5px 7px 5px 5px rgb(20, 20, 20);
}
#about .container .card .card-body .languages-card {
    padding-top: 10px;
}
#about .container .card .card-body .tools-card {
    padding-top: 20px;
}
#about .container .card .card-body .databases-card {
    padding-top: 20px;
}

#about .container .card .card-body .languages-card .bg-blue {
    background-color: #3d4364;
}
#about .container .card .card-body .databases-card .custom-card {
    text-align: center;
    padding: 5px;
    border: 3px solid black;
    border-radius: 3px;
    box-shadow: 5px 5px 3px 2px rgb(20, 20, 20);
    margin-bottom: 10px;
}
#about .container .card .card-body .languages-card .custom-card {
    text-align: center;
    padding: 5px;
    border: 3px solid black;
    border-radius: 3px;
    box-shadow: 5px 5px 3px 2px rgb(20, 20, 20);
    margin-bottom: 10px;
}
#about .container .card .card-body .tools-card .custom-card {
    text-align: center;
    padding: 5px;
    border: 3px solid black;
    border-radius: 3px;
    box-shadow: 5px 5px 3px 2px rgb(20, 20, 20);
    margin-bottom: 10px;
}

/* portfolio */
#portfolio {
    padding: 30px 0px;
}
#portfolio .container .card {
    padding: 50px 30px;
    border-radius: 10px;
    background-color: #4a4e63;
    box-shadow: 5px 7px 5px 5px rgb(20, 20, 20);
}
#portfolio .container .card .card-body .all-portfolio {
    padding-top: 20px;
}
#portfolio .container .card .card-body .all-portfolio h4{
    padding-bottom: 10px;
}
#portfolio .container .card .card-body .all-portfolio .portfolio-card {
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 3px 2px rgb(20, 20, 20);
    margin-bottom: 30px;
}
#portfolio .container .card .card-body .all-portfolio .portfolio-card .card-body p{
    padding-top: 10px;
}
#portfolio .container .card .card-body .all-portfolio .portfolio-card .card-body p span{
    line-height: 1.8rem;
    background-color: #3d4364;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 12px;
    margin-bottom: 100px;
}
#portfolio .container .card .card-body .all-portfolio .portfolio-card:hover {
    margin-bottom: 35px;
    margin-top: -5px;    
}
#portfolio .container .card .card-body .all-portfolio .portfolio-card .btn-view {
    background-color: #585c7a;
    padding: 20px 20px;
}
#portfolio .container .card .card-body .all-portfolio .portfolio-card .portfolio-btn {
    display: flex;
    justify-content: space-between;
}

/* footer */
footer {
    padding-top: 50px;
}
.custom-footer {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.0rem;
    padding: 30px 0px;
    background-color: #585c7a;
    min-height: 100px;
    text-align: center;
}
.custom-footer p {
    margin-bottom: 10px;
    color: #dadce6;
}
.custom-footer a {
    background-color: rgb(24, 23, 23);
    box-shadow: 3px 5px 3px rgb(20, 20, 20);
    padding: 2px 15px;
    border-radius: 5px;
    color: #dadce6;
    text-decoration: none;
}
.custom-footer a:hover {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: -3px;
    box-shadow: none;
}

