body {
    font-family: 'Quicksand', sans-serif;
}

/* Color */
/* eff7e1, a2d0c1, 214151, */

.heading-opacity {
    font-size: 15vw; 
    font-weight: 700; 
    text-align: center; 
    opacity: 0.1;
}
.no-border {
    border: none;
}

/* Navbar */
.navbar-custom {
    background: #214151;
}
.navbar-custom .container .navbar-brand {
    font-weight: 700;
    color: #dadce6;
}

/* Profil */
#profil {
    background: #eff7e1;
    /* opacity: 0.3; */
    display: flex;
    align-items: center;
    min-height: 600px;
}

/* About */
#about {
    min-height: 600px;
}

/* Portfolio */
#portfolio {
    background: #eff7e1;
    min-height: 600px;
}
/* Contact */
#contact {
    /* background: #eff7e1; */
    min-height: 600px;
}

/* Footer */
/* footer */
footer {
    padding-top: 50px;
}
.custom-footer {
    font-size: 1.0rem;
    padding: 30px 0px;
    background-color: #214151;
    min-height: 100px;
    text-align: center;
}
.custom-footer p {
    color: #dadce6;
}